In [1]:
import numpy as np

In [2]:
a = np.array([[ 1., 0., 0.],
              [ 0., 1., 2.]])
a

array([[1., 0., 0.],
       [0., 1., 2.]])

In [3]:
b = np.array([1, 2, 3], dtype=float)   # Creating and declaring type of array
b

array([1., 2., 3.])

In [4]:
a.ndim  # Dimension of array

2

In [5]:
a.shape   # 2 rows and 3 columns

(2, 3)

In [6]:
a.size  # the total number of elements of the array

6

In [7]:
a.itemsize  # the size in bytes of each element of the array

8

In [8]:
a.dtype

dtype('float64')

In [9]:
a.dtype.name

'float64'

In [10]:
a.itemsize  # the size in bytes of each element of the array

8

In [11]:
a.data

In [12]:
c = np.zeros((2,3), dtype=int)   # create array of zeros of shape 2 rows and 3 columns
c

array([[0, 0, 0],
       [0, 0, 0]])

In [13]:
d = np.ones((2,3,4), dtype=int)  # Create array of ones of shape 
d

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]])

In [14]:
d.ndim

3

In [15]:
d.shape

(2, 3, 4)

In [16]:
a = np.arange(10)  # gives an array of number upto 10
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
a[:5]  # Slicing operations can also be done

array([0, 1, 2, 3, 4])

In [18]:
b = np.arange(10.0,20.0)
b

array([10., 11., 12., 13., 14., 15., 16., 17., 18., 19.])

In [19]:
b-a

array([10., 10., 10., 10., 10., 10., 10., 10., 10., 10.])

In [20]:
np.arange(10).reshape(2,5)   # Reshape the array to 2 rows and 5 columns

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [21]:
c = np.random.random(5)
c

array([0.70114948, 0.3864013 , 0.83634189, 0.74386808, 0.89118694])

In [22]:
c.sum()  # Get some of all elements in array

3.558947697077199

In [23]:
c.min()  # minimun value in array

0.3864012991876864

In [24]:
c.max()  # maximum value in array

0.891186940628248

In [25]:
d = np.arange(10).reshape(2,5)
d

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [26]:
d.T  # Get transpose of array

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [27]:
d.ravel()  # Flattens n-dimensional arrays

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
d.sum(axis=0)  # sum of each column

array([ 5,  7,  9, 11, 13])

In [29]:
d.sum(axis=1)  # sum of each row

array([10, 35])